#header {
    box-shadow: 0 5px 0 rgba(21, 109, 141, 0.3);
    height: 70px;
    position: relative;
    z-index: 100;
}

.row {
    display: block;
    margin: 0 auto;
    width: 940px;
}

.grid-1 {
    width: 8%;
    float:left;
}

.macha-map-logo {
    float: left;
    margin-top: 10px;
}

.grid-2 {
    display: block;
    width: 15%;
    float: left;
    position: relative;
}

.grid-2 h1{
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #666666;
}

.grid-3 {
    width: 72%;
    float:left;
    overflow: hidden;
}

a, a:visited {
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
ul.navigation {
    display: block;
    margin-top: 22px;
    margin-left: 50px;
    text-align: left;
    list-style:none;
    font: 0.75em/1.5em normal Tahoma, Verdana, Geneva, sans-serif;
}

ul.navigation li {
    display: inline-block;
    margin: 0 1%;
    text-align: center;
    text-transform: uppercase;
    background:#ececec;
    padding:5px 15px;
    /*border-radius: 15px;*/
    position: relative;
}
ul.navigation li.highlight {
    background:#666;
}
ul.navigation li.highlight a {
    color:#f5f5f5;
    cursor:default;
}

.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}

.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-scale ul li {
    font-size: 11px;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}



.legend-scale-prop ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-scale-prop ul li {
    font-size: 11px;
    list-style: none;
    margin-left: 0;
    line-height: 15px;
    margin-bottom: 20px;
}

ul.legend-labels-prop li span {
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 0;
}



.legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.legend-source a {
    color: #777;
}
.leaflet-control{
    box-shadow: 0 0 0 5px rgba(21, 109, 141, 0.3);
}
.leaflet-top .leaflet-control {
    margin-top: 20px;
}
.leaflet-left .leaflet-control {
    margin-left: 20px;
}
.wax-legends {
    box-shadow: 0 0 0 5px rgba(21, 109, 141, 0.3);
    border-radius: 3px;
    width: auto;
    right:10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    position:absolute;
    top:10px;
    left:62px;
    z-index:1;
}

.collapse-card {
    width: 200px;
    box-shadow: 0 0 0 5px rgba(21, 109, 141, 0.3);
    border-radius: 3px;
    cursor: pointer;
    padding:5px;
}

.collapse-card .body {
    padding: 0;
}

.collapse-card.active {
    margin: 0;
}

.collapse-card .title strong {
    margin-left: 45px;
}

.menu-ui {
    position:relative;
    z-index:1;
    border-radius:3px;
    width:auto;
    padding: 8px 0 0 0;
}

.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    background:#f0f8ff;
    text-align:left;
}
.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
}
.menu-ui a.active {
    background:#3887BE;
    color:#FFF;
}
.menu-ui a.active:hover {
    background:#3074a4;
}

#map {
    position: absolute;
    width: 100%;
    top: 70px;
    bottom: 79px;
    overflow: hidden;
    cursor: default;
}

#footer {
    background-color: #fff;
    border-bottom: 7px solid black;
    border-top: 1px solid #ccc;
    bottom: 0;
    display: block;
    height: 8%;
    left: 0;
    line-height: 16px;
    overflow-y: auto;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

.grid-4 {
    width: 29%;
    float:left;
    overflow: hidden;
}

ul.usefull-links {
    display: block;
    margin-top: 15px;
    list-style:none;
    font: 0.75em/1.5em normal Tahoma, Verdana, Geneva, sans-serif;
}

ul.usefull-links li {
    display: inline-block;
    margin: 0 1%;
    text-align: left;
    padding: 2px 5px;
    position: relative;
}

ul.usefull-links li a {
    font-size:12px;
    color:#778899;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-5 {
    float:left;
    overflow: hidden;
}

.vert-separator {
    display: inline-block;
    background: #888;
    margin-top: 17px;
    height: 18px;
    width: 1px;
}

.grid-6 {
    width: 28%;
    float:left;
    overflow: hidden;
}

.grid-6 .disc-footer {
    display: block;
    margin-left: 12px;
    margin-top: 17px;
    text-align: left;
}

.grid-6 .disc-footer a {
    font-size:12px;
    color:#778899;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-7 {
    float:left;
    overflow: hidden;
}

.grid-8 {
    float: left;
    margin-left: 13px;
    margin-top: 14px;
    overflow: hidden;
    width: 40%;
}

strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }